@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'fonte_tecnologica';
  src: url('/app/public/fonts/quantum_4/Quantum.otf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 245, 245, 245; /* Branco mais suave e menos agressivo */
    --foreground: 30, 30, 30; /* Texto escuro para um bom contraste */
  }

  .dark {
    --background: 10, 0, 28; /* Escuro (mantendo sua cor #0A001C) */
    --foreground: 255, 255, 255;
    --bordinha: 245, 245, 245
  }
/* para alterar a cor de fundo do codigo */
  body { 
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
  }
}
