@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'fonte_tecnologica';
  src: url('/app/public/fonts/quantum_4/Quantum.otf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 245, 245, 245; /* Branco mais suave e menos agressivo */
    --foreground: 30, 30, 30; /* Texto escuro para um bom contraste */
    --texto-inicial: 255, 255, 255; 
    --borda-invertida: 0, 0, 0;
    --switch: 0, 0, 0
  }

  .dark {
    --background: 10, 0, 28; /* Escuro (mantendo sua cor #0A001C) */
    --foreground: 255, 255, 255;
    --texto-inicial: 255, 255, 255;
    --borda-invertida: 255, 255, 255;
    --switch: 255, 255, 255;
  }

  body {     
    overflow-x: hidden;
  }
}
